<!DOCTYPE html>
<html>
<head>
    <title>Artwork Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
            <link rel="stylesheet" type="text/css" href="/css/artworkmanagement.css">
        <link rel="stylesheet" type="text/css" href="/css/dash_sidebar.css">
        <link rel="stylesheet" type="text/css" href="/css/dash_header.css">

</head>
<body>
   <link rel="stylesheet" href="https://cdn.lineicons.com/2.0/LineIcons.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  {{>dash_header}}
<div class="my-container">

  <div class="main">

<div class="page-content">
    <div class="search-container">
  <input type="text" id="search-input" placeholder="Search by artist...">
  <button class="btn-search" onclick="searchArtworks()">Search</button>
</div>
  <ul id="gallery" class="artwork-main">
    {{#if artworks}}
      {{#each artworks}}
        <li class="artwork-content">
          <div class="neumorphic-box" data-toggle="modal" data-target="#modal{{@index}}">
            <img src="{{this.path}}" alt="{{this.arttitle}}">
            <div class="artwork-details">
              <h3>{{this.arttitle}}</h3>
              <p>Artist: {{this.artist}}</p>
            </div>
          </div>
          <div class="delete-overlay">
           
            <form action="/auth/deleteArtwork/{{this.id}}" method="POST">
    <button type="submit" id="delete" class="deletebtn">
      <img class="icon-pic" src="/pictures/delete.png">
    </button>
  </form>
          </div>
        </li>
      {{/each}}
    {{else}}
      <p>No artworks found.</p>
    {{/if}}
  </ul>
</div>



<!-- Bootstrap 4 Modal -->
{{#each artworks}}
  <div class="modal fade" id="modal{{@index}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg  modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{this.arttitle}}</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body modal-content-main">
              <div class="left-content">
          <img src="{{this.path}}" alt="{{this.arttitle}}" class="modal-image">
           <!-- Download button -->
          <a href="{{this.path}}" download class="btn-success btn-sm btn btn-download">Download</a>
        </div>
          <div class="right-content">
       
          <!-- Additional details here if needed -->

          <!-- Beautiful section for prompt -->
          <h4 style="font-weight: bold;">Prompt</h4>
          <div class="prompt-section">
            
            <p>{{this.prompt}}</p>

          </div>

         
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}



</div>

    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/ee5eddb182.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript">
 function searchArtworks() {
  const input = document.getElementById("search-input").value.toLowerCase();
  const artworks = document.querySelectorAll(".artwork-content");

  artworks.forEach((artwork) => {
    const artist = artwork.querySelector(".artwork-details p").innerText.toLowerCase();
    if (artist.includes(input)) {
      artwork.style.display = "block";
    } else {
      artwork.style.display = "none";
    }
  });
}

  

</script>
</body>
</html>


